@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  a {
    @apply cursor-pointer hover:text-gray-700;
  }
  body {
    @apply font-sans;
  }
}

@layer components {
  .gridCenter {
    @apply grid place-items-center;
  }
  .flexCenterBetween {
    @apply flex justify-between items-center;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .paragraph {
    @apply ss:text-[10px] ss:leading-4 sm:text-[18px] sm:leading-8 lg:text-[15px] lg:leading-6 text-gray-500;
  }

  .heading1 {
    @apply ss:text-xl ss:leading-6 sm:text-4xl sm:leading-[42px] lg:text-5xl lg:leading-[58px] font-semibold;
  }

  .SharePrint {
    @apply bg-foodie-blue rounded-[50%] sm:w-16 sm:h-16 flexCenter ss:w-12 ss:h-12;
  }

  .loveIcon {
    @apply ss:w-5 ss:h-5 sm:w-[48px] sm:h-[48px];
  }

  .buttonWidthHeight {
    @apply ss:w-32 sm:w-44 sm:h-auto;
  }

  .flex-space-border-b {
    @apply flex items-center justify-between border-0 border-b border-solid border-gray-200 pb-5;
  }
  .text-m-gray {
    @apply text-gray-500 font-medium text-lg;
  }
  .flex-item-c-border-b {
    @apply flex items-center lg:gap-6 ss:gap-2 border-b border-solid border-gray-200 pb-7;
  }

  .input-checkbox {
    @apply sm:w-6 sm:h-6 appearance-none border-[1px] border-[#DBE2E5] rounded-full checked:bg-black checked:border-black checked:before:content-['✓'] checked:before:text-white checked:before:flex checked:before:items-center checked:before:justify-center ss:w-4 ss:h-4;
  }

  .direction-input-checkbox {
    @apply h-6 w-20 appearance-none border-[1px] border-[#DBE2E5] rounded-[50%];
  }

  .size {
    @apply h-64 w-[85%];
  }
}

@layer utilities {
  .bg-foodie-gradient {
    @apply bg-gradient-to-t from-foodie-blue to-custom-white;
  }

  .bg-db-gradient {
    @apply bg-gradient-to-t from-[#dbedf1];
  }
}
